.row
  %form.form-horizontal.mt30.box{method: :post}
    .control-group
      %label.control-label{:for => "inputEmail"} Email
      .controls
        %input#email{:name => "user[email]", :placeholder => "Email", :type => "text"}/
    .control-group
      %label.control-label{:for => "inputPassword"} Password
      .controls
        %input#password{:name => "user[password]", :placeholder => "Password", :type => "password"}/
    .control-group
      .form-actions
        %button.btn.btn-primary{:type => "submit"} Save changes
        %button.btn{:type => "button"} Cancel
