!!!
%html
  %head
    %title GameCampo
    %script{:src => "/assets/application.js", :type => "text/javascript"}
    %link{:href => "/assets/application.css", :rel => "stylesheet"}/
  %body
    .navbar.navbar-static-top
      .navbar-inner
        .container
          %a.btn.btn-navbar{ "data-toggle" => "collapse", "data-target" => ".nav-collapse"}
            %span.icon-bar
            %span.icon-bar
            %span.icon-bar
          %a.brand{:href => "/"}
            GameCampo
          .nav-collapse.collapse
            %ul.nav
              %li.dropdown
                %a{href: "#", class: "dropdown-toggle", "data-toggle" => "dropdown"}
                  Card Games
                  %b.caret
                %ul.dropdown-menu
                  %li
                    - Game.all.each do |g|
                      =link_to "/games/" + g.path, g.name
              %li.dropdown
                %a{href: "#", class: "dropdown-toggle", "data-toggle" => "dropdown"}
                  Chess Games
                  %b.caret
                %ul.dropdown-menu
                  %li
                    %a Chess
                    %a Chinese chess
            %ul.nav.pull-right
              %li.divider-vertical
              - if not @current_user
                %li{class: @request.path == "/account/login" ? "active" : nil}
                  = link_to "/account/login", "Sign In"
                %li{class: @request.path == "/account/register" ? "active" : nil}
                  = link_to "/account/register", "Sign Up"
              - else
                %li.dropdown
                  %a.dropdown-toggle{"data-toggle" => "dropdown", :href => "#"}
                    %i.icon-user
                    Account
                    %b.caret
                  %ul.dropdown-menu
                    %li
                      %a{:href => "/login/form"} profile
                    %li.divider
                    %li
                      %a{:href => "/logout"} Logout
    .container.mt10
      - if @errors then
        = show_errors
      = yield
  .footer
    %hr
    david - just for fun