/*
 *= require bootstrap/bootstrap.min
 *= require bootstrap/bootstrap-responsive.min
 */

.mt10 {margin-top: 10px;}
.mt20 {margin-top: 20px;}
.mt30 {margin-top: 30px;}

.well {
  padding: 10px;
}

.box {
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  border-radius: 5px;
  padding: 20px;
  background: white;
}

.footer {
  text-align: center;
  color: #CCC;
  margin-bottom: 20px;
}

.room {
  position: relative;
  height: 200px;
}

.player {
  position: absolute;
  overflow: hidden;
  width: 72px;
  /*width: 250px;*/
  height: 72px;

  -webkit-box-shadow: 0 1px 4px rgba(255, 0, 0, 0.5);
  -moz-box-shadow: 0 1px 4px rgba(255, 0, 0, 0.5);
  box-shadow: 0 1px 4px rgba(255, 0, 0, 0.5);

  -webkit-border-radius: 36px;
  -moz-border-radius: 36px;
  -ms-border-radius: 36px;
  -o-border-radius: 36px;

  -webkit-transition: all .4s ease-in-out;
  -moz-transition: all .4s ease-in-out;
  -o-transition: all .4s ease-in-out;
  transition: all .4s ease-in-out;
}

.player img {
  width: 72px;
  height: 72px;

  -webkit-border-radius: 36px;
  -moz-border-radius: 36px;
  -ms-border-radius: 36px;
  -o-border-radius: 36px;
}

.player:hover {
  width: 250px;

  -webkit-box-shadow: 0 1px 4px rgba(255, 0, 0, 1);
  -moz-box-shadow: 0 1px 4px rgba(255, 0, 0, 1);
  box-shadow: 0 1px 4px rgba(255, 0, 0, 1);
}

.players-2 .player1 {
  top: 10px;
  left: 10px;
}

.players-2 .player2 {
  bottom: 10px;
  right: 10px;
}

/*.room:hover {
  -webkit-box-shadow: 0 1px 4px rgba(0,105,214,0.5);
  -moz-box-shadow: 0 1px 4px rgba(0,105,214,0.5);
  box-shadow: 0 1px 4px rgba(0,105,214,0.5);
}*/