#gobang {
  width: 525px;
  height: 525px;
  padding: 5px;
  background-image:url(/assets/gobang/checkerboard.jpg);
}

#gobang table {
  width: 525px;
  height: 525px;
  margin: 0px;
  padding: 0px;
  border-collapse:collapse;
}

#gobang table tr.def {
  padding-top: 2px;
  padding-bottom: 2px;
}

#gobang table tr.def td{
  border-width: 1px 1px 1px 1px; /* 设置边框状粗细：上 右 下 左 = 对应：1px 0 0 1px */
  background-size: 100%;
}

#gobang table tr.def .hole:hover{
  background-color: rgba(250, 100, 100, 0.7);
  cursor: pointer;
}

#gobang .white {
  background-image: url(/assets/gobang/white.png);
}

#gobang .black {
  background-image: url(/assets/gobang/black.png);
}

form#chat {
  margin-top: 5px;
  margin-bottom: 0px;
}

form#chat input{
  width: 170px;
}


.gobang .status {
  margin-top: 15px;
}

#cancel_ready{
  display: none;
  margin-top: 0px;
}

.modal-body{
  text-align: center;
}