%script{:src => "/assets/hall.js"}
.hero-unit
  %h1= @game.name
  %p= @game.description
  %p
    %a.btn.btn-primary.btn-large Learn more

.row-fluid#rooms
  %ul.thumbnails
    %li.span3
      %a.thumbnail.room.players-2{:href => "a"}
        .player.player1{href: '#'}
          %img{src: "/assets/anonymity.png"}
          %span david
        .player.player2{href: '#'}
          %img{src: "/assets/anonymity.png"}
          %span mario