.hero-unit
  %h1= @game.name
  %p= @game.description
  %p
    %a.btn.btn-primary.btn-large Learn more

.row
  - @game.rooms.each_slice(4) do |rooms|
    - rooms.each do |room|
      .span3.mb30
        .tile
          %h3.mt20.tile-title Web Oriented
          %img.tile-image.big-illustration{:alt => "", :src => ""}/
          %h3.tile-title Web Oriented
          %a.btn.btn-primary.btn-large.btn-block{:href => "#{@game.path}/#{room.number}"} Join