!!!
%html{:lang => "en"}
  %head
    %meta{:charset => "utf-8"}/
    %title CSS3 Matching Game
    %link{:href => "http://fonts.googleapis.com/css?family=Droid+Serif:regular,bold&subset=latin", :rel => "stylesheet", :type => "text/css"}/
    %link{:href => "http://fonts.googleapis.com/css?family=Orbitron:400,700", :rel => "stylesheet", :type => "text/css"}/
  %body
