%script{:src => "/assets/controllers/#{@game.style_name}_controller.js", :type => "text/javascript"}
%link{:href => "/assets/#{@game.style_name}.css", :rel => "stylesheet"}/


#line-skating
  %button#start.btn.btn-success start
  #line
  #score