%script{:src => "/assets/#{@game.style_name}.js", :type => "text/javascript"}
%link{:href => "/assets/#{@game.style_name}.css", :rel => "stylesheet"}/
.row-fluid{class: @game.style_name}
  .span4
    #buttons.well
      %button.btn.btn-success.btn-block#ready READY
      %button.btn.btn-warning.btn-block#cancel_ready CANCEL READY
    #player1.player.well
    #player2.player.well
    .well
      %form.form-inline#chat
        %legend chat
        %input.span9{type: :text, placeholder: :message}
        %button.btn{type: :submit} Send
    #watchers
    .well
      %a.btn.btn-danger.btn-block{href: "/games/#{@game.path}"} BACK TO HALL
  #game_pool.span8
